.alt-background {
  background-color: black;
  background-size: cover;
  height: 75%;
  padding-top: 20%;
}

.box {
  color: white;
  width: 50%;
  margin-left: 25%;
}

.ember-view {
  height: 100%;
}
