@import "projects";
@import "resume";

html {
  background: radial-gradient(gray, blue)
}

html, body {
  margin: 20px;
  font-family: sans-serif;
  height: 100%;
}
h2 {
  color: red;
}

.fuzzy {
  color: orange;
  font-size: 1.5em;
  border: 1px solid green;
  margin-right: 20%
}

.clean {
  color: black;
  font-size: 1.25em;
  border: 3px dashed black;
  padding-left: 20%;
  padding-right: 20%;
}

.dunlop {
  color: orange;
  font-size: 2em;
  border: 4px solid red;
  margin-left: 20%;
}
