{{outlet}}

{{#link-to "projects"}}
Projects
{{/link-to}}
{{#link-to "resume"}}
Resume
{{/link-to}}

<h2>Welcome!</h2>
<p class ="splash">
  I'm Dan Mello, and I'm a Junior Developer! Look at all the cool things I've worked on and can do!
</p>
