{{#link-to "resume"}}
Resume
{{/link-to}}
{{#link-to "index"}}
Index
{{/link-to}}


  {{outlet}}
  <div class="box">
    <h3>Here is a list of projects I have been involved with:</h3>

    {{#each}}
    {{project}}
    {{/each}}


  </div>
