{{outlet}}
{{#link-to "projects"}}
Projects
{{/link-to}}
{{#link-to "index"}}
Index
{{/link-to}}
<h3>This is my Resume</h3>
<h4>There are many like it,</h4>
<h5>but there are none like mine.</h5>

<p>
  I started as a compture tech, fixing end user's woes and worries in the blink of an eye. But then 1 day it hit me:
  The real money's not in fixing broken shit, but making the shit that breaks!
  So I started learning, and now look what I can do!
</p>
<h4>So what is the best way to show off what I know?</h4>

<p>
  BY DICKING AROUND WITH CSS OF COURSE!
</p>
<p>
  <span class="fuzzy">Spans</span> <span class="clean">are</span> <span class="dunlop">FUN</span>
</p>
